
.classes-wrapper {
  margin: 20px;
  font-family: Arial, sans-serif;
}



.classes-table {
  width: 100%;
  border-collapse: collapse;
}

.classes-table th,
.classes-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.classes-table th {
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: left;
}


.btn-edit-student12,
.btn-delete-student {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}




